<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>Carga de datos de RENAP</h1>
        <p>Bienvenido al sistema de gestión de datos.</p>                      
    </div>

    <form method="post" action="/upload" encType="multipart/form-data">
        <div class="form-group">
          <label for="file">Archivo de datos</label>
          <input type="file" class="form-control" name ="archivo" />
        </div>               
        <button type="submit" class="btn btn-primary">Cargar Archivo</button>
      </form>
</main>
<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>